// Specific CSS for your home-page

.form-ddown-container {
    position: relative;
    margin: 0 15px;
    border-radius: 0;
    border-bottom: solid 4px #a5d7e4;
    i {
      right: 9px;
      top: 10px;
      color: lightgrey;
      position: absolute;
    }
  }

.index-content {
  .main-container {
    margin: 0;
    padding: 0
  }
}


input, label {
  font-family: $body-font !important;
}


.form-control-mod{

    font-family: $body-font !important;


}


#city placholder {
  font-family: $body-font !important;
}


input[type="text"]::-webkit-input-placeholder {
font-family: $body-font !important;
}

input[type="text"]:-moz-placeholder { /* Firefox 18- */
font-family: $body-font !important;
}

input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
font-family: $body-font !important;
}

input[type="text"]:-ms-input-placeholder {
font-family: $body-font !important;
}



abbr[title="required"] {
  display: none;
}
