// Specific CSS for your home-page

.form-ddown-container {
    position: relative;
    margin: 0 15px;
    border-radius: 0;
    border-bottom: solid 4px #a5d7e4;
    i {
      right: 9px;
      top: 10px;
      color: lightgrey;
      position: absolute;
    }
  }

.index-content {
  .main-container {
    margin: 0;
    padding: 0
  }
}


input {
  font-family: $body-font !important;
}
