<div class="booking-container">

  <h2>These are all your bookings:</h2>



  <% current_user.bookings.each do |booking| %>
  <li>  Dr. <%= booking.slot.doctor.name %> | Scheduled for:  <%=  booking.date %> (<%= booking.time %>) </li>
  <% end %>


  <%= link_to "Schedule another appointment", doctors_path %>

</div>



