

<%= form_tag("fan_groups", method: :get, class: "search-engine") do %>
<div class="box">
  <%= text_field_tag :city,
    params[:city],
    class: "form-control", id: "booking_address",
    placeholder: "Speciality?"
  %>

<div><%= submit_tag(value = "Find your Doctor")%></div>
</div>
<% end %>

