<div class="background">
 <div class="flexbox">
  <div class="flex-left">
    <div class="doctor-show-1 doctor-show">
    <%= image_tag "logo.png", alt: "alttext" %>
    <h1><strong><%=  @doctor.name %></strong></h1>
    <p>Rating</p>
    <p>#</p>
    <h5>Spec</h5>
    <h5>Location</h5>
    </div>

    <div class="doctor-show-2 doctor-show">
      <a href="#">Overview</a>
      <a href="#">Reviews</a>
    </div>

    <div class="doctor-show-3 doctor-show">


     <h4>Professional Statement</h4>
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo asperiores porro ipsudebitis modi dolore optio, repellendus minima tempora beatae harum fuga iste animi efugit odit enim. Iure, perspiciatis?</p>
     <h4>Language</h4>
     <p>English</p>


    </div>

  </div>

  <div class="flex-right doctor-show">
    <%= render 'week_view' %>
  </div>
 </div>
 </div>



<div class="container">
     <% @doctor.reviews.each do |review|   %>
    <%= review.content  %>
    <% review.stars.times do |star| %>
     <i class="fas fa-star"></i>
    <% end %>
    <% end %>
</div>
