.btn-flat {
  color: white;
  padding: 5px 24px;
  border-radius: 4px;
  background: #ef5775;
  transition: background 0.3s ease;
}

// .btn-flat:hover {
//   background: #1c1259;
//   color: white;
// }
