.flexbox{
  display: flex;
  padding: 30px;
  justify-content: space-between;
}


#index-cards {
  padding: 31px;
  padding-top: 42px;
  .title {
    font-size: 25px;
    margin: 0;
    margin-bottom: 2pc;
    color: lightgrey;
  }
}

.flex-left{
  flex: 0 0 55%;
}

.doctor-show-1{
  height: 350px;
  margin-bottom: 3%;
  text-align: center;
}

.doctor-show-2{
  height: 70px;
  margin-bottom: 3%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.doctor-show-3{
  height: 300px;
  padding: 10px;
}


.doctor-show {
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  background: white;
  opacity: 0.9;
  padding: 5px;
  margin-top: 5px;

}

.doctor-show-1 img {
  width: 10%;
  border-radius: 50%;
  margin-top: 1%;
}

.flex-right{

  flex: 0 0 35%;

}

.booking{
  padding: 10px;
  margin-top: 5px;

}

.doctor-show-2 a{
  font-size: 20px;
  color: #F79E02;
}

.background{
  background-image:  asset-url('Banner.jpg');

}


.fa-star{
  color: #F79E02;
}

.right-down{
  height: 30%;
  padding: 10px;

}


.language-img{
  width: 32px;
  margin-bottom: 9px;
  height: 20px;
  margin-left: 10px;
}


* { box-sizing: border-box; }


.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #ef577591;
  border-radius: 5px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}




.flexbox-top {
  display: flex;
}

.flex-top-left{
  flex: 0 0 15%;
  margin-top: 3%;
}

.flex-top-right{
  flex: 0 0 35%;
}

.down{
  margin-top: -9%;
}

.down h5{
  color: white;
    letter-spacing: 10px;
}

.top{
     /* padding: 10px; */
    margin-top: 37%;
    margin-bottom: 14%;
}

.flex-top-left img{
  width: 82%;
    margin-top: 99%;
    margin-left: 8%;

}

.flex-top-right h1{

    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 45px;
    font-weight: bold;
}



.dr-banner{
   height: 350px;
}

.dr-banner img{
    width: 7%;
    border-radius: 50%;
    margin-top: 9%;
    margin-left: 2%;
}

.dr-banner-re{
  margin-top: 9%;
    margin-left: 1%;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 45px;
    font-weight: bold;
}

.dr-banner-2{
  height: 300px;
  padding: 10px;
}



.review_stars{
  .br-widget{
    margin-left: 37%;
  }
}















