.search-filter {

    align-items: center;
    flex-direction: row;
    display: flex;
    box-sizing: border-box;
    position: relative;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    padding: 10px;

}

.filter-tag {
  margin-right: 55px;
}
