.search-filter {
  display: flex;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
    padding: 10px;
    margin-top: 10px;
        position: absolute;
    top: -92px;
    left: 318px;
}

.filter-tag {
  margin-right: 55px;

}

.width{
  width: 191px;
}
