.box{
  background-color: #d9edf7bd;
  padding: 18px;
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  height: 100%;
}

.banner {
  form {
    min-width: 1000px;
    margin: auto;
  }
}

.btn-search{
  color: white;
  padding: 5px;
  border-radius: 4px;
  background: #ee4266;
  border-width: 0;
  width: 100%;
  margin-top: 5px;
}

.btn-search2{
  border: none;
  background-color: #F79E02;
  color: white;
  border-radius: 10px;
  width: 150px;

}

.header-one {

  color: white;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  font-weight: bold;
}
