.box{
  background-color: #f1f9fc;
  box-shadow: 1px 5px 12px 0px #30303026;
  padding: 18px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  height: 100%;
  margin: auto;
  width: 800px;
  opacity: 1;
}

.box-reviews {
  background-color: #f1f9fc;
  box-shadow: 1px 5px 12px 0px #30303026;
  padding: 18px;
  border-radius: 4px;
  height: 100%;
  margin: auto;
  width: 800px;
  opacity: 1;
  width: 72%;
  text-align: center;
}

.review-margin {
    margin: 20px auto;
    width: 72%;
    display: flex;
    justify-content: center;
  .btn-search {
    width: 70% !important;
  }
}

.banner {
  form {
    min-width: 1000px;
    margin: auto;
  }
}

.btn-search{
  color: white;
  padding: 14px 80px;
  border-radius: 4px;
  background: #ee4266;
  border-width: 0;
  width: 30%;
  margin-top: 5px;
}

.btn-search2 {
  border: none;
  background-color: #F79E02;
  color: white;
  border-radius: 10px;
  width: 150px;

}

.header-one {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 53px;
    margin-bottom: 24px;
    max-width: 710PX;
    width: 100%;
    margin: auto;
    text-shadow: 2px 1px 20px #ffffff;
    margin-top: 40px;
    color: #2f4773;
    font-weight: 900;
}
