.week-before {
      color: black;
    padding: 4px;
    margin-left: 45px;
    font-size: 25px;
}

.week-after {
  color: black;
  margin-left: 65%;
  font-size: 25px;
}

.week-view {
  input {
    width: 100%;
  }
}
