<%= simple_form_for([ booking, review ]) do |form| %>
<div class="box-reviews">
  <%= form.input :content %>
  <%= form.input :stars,
                 collection: (1..5).to_a,
                 label: "Rate your doc",
                 required: true
  %>
  </div>
  <div class="review-margin">
  <%= form.button :submit, class: "btn-search" %>
  </div>

<% end %>

