<div class="bannerreview">
  <div style="
    margin-left: 25%;">
  <div class="header-one">Review your appointment with <%= @doctor.name %></div>

      <%= render "reviews/form", review: @review, booking: @booking %>
  </div>
</div>


